<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>JustACrud</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
</head>
<body>
    <div class="container text-center mt-3">
        <h1>Bem vindo!</h1>
        <h3>Aplicação feita para demonstração de CRUD.</h3>
        <br>
        <a class="h2" th:href="@{/funcionarios}">Ir ao CRUD de Funcionários</a>
    </div>
</body>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js" crossorigin="anonymous"></script>

</html>